<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>HOME</title>
		<meta name="theme-color" content="#fff">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
		<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
		<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
		<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
		<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
		<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
		<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
		<link rel="stylesheet" href="styles/main.css">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
		</style>
	</head>
	<body>
		<div class="page">
			<div class="background_image">
				<div class="wrap header">
					<div class="wrap-wrapper">
						<p class="title header__logo">Stick <br> Heinz</p>
						<a href="#" alt="play"><div class="linksvg header__menusvg"></div></a>
						<a href="#" alt="lang"><div class="linksvg header__lang"></div></a>
						<div class="box header__menu">
							<a class="link header__home link-active" href="index.html">home</a>
							<a class="link header__blog" href="page2.html">blog</a>
							<a class="link header__releases" href="page4.html">releases</a>
							<a class="link header__about" href="page5.html">about</a>
							<a class="link header__contact" href="page6.html">contact</a>
						</div>
						<div class="block header__block"></div>
						<p class="title header__en">en</p>
						<img class="img header__united-kingdom" src="../img/header-united_kingdom.svg" alt="united-kingdom">
						<a href="#" alt="arrow"><div class="linksvg header__arrow"></div></a>
						<img class="img header__image" src="../img/image.svg" alt="image">
					</div>
				</div>
				<div class="wrap welcome">
					<div class="wrap-wrapper">
						<img class="img welcome__image" src="../img/image.svg" alt="image">
						<p class="title welcome__title">Welcome!</p>
						<p class="text welcome__text">Hi there! This is Stick Heinz homepage.<br>More than 10 years i making first class hip-hop beats.</p>
						<div class="box welcome__boxbtn">
							<a class="btn welcome__btn" href="#">also make to order</a>
						</div>
						<a class="btn welcome__youtube" href="#">youtube</a>
						<a class="btn welcome__soundcloud" href="#">soundcloud</a>
						<a class="btn welcome__spotify" href="#">spotify</a>
						<a href="#" alt="youtube"><div class="linksvg welcome__youtube2"></div></a>
						<a href="#" alt="soundcloud"><div class="linksvg welcome__soundcloud2"></div></a>
						<a href="#" alt="spotify"><div class="linksvg welcome__spotify2"></div></a>
						<img class="img welcome__santapng" src="../img/welcome-santa.png" alt="santa">
						<div class="block welcome__block"></div>

						<a href="#" alt="play"><div class="linksvg welcome__playsvg"></div></a>
						<a href="#" alt="sound"><div class="linksvg welcome__soundsvg"></div></a>
						<a href="#"><div class="linksvg welcome__arrowsvg"></div></a>
						<p class="text welcome__texthello">Last releases “Hello”</p>
					</div>
				</div>
			</div>
			<div class="wrap slider">
				<div class="wrap-wrapper">
					<p class="title slider__title">My releases</p>
					<a href="#" alt="arrow-left"><div class="linksvg slider__arrowleft"></div></a>
					<a href="#" alt="-arrowright"><div class="linksvg slider__arrowright"></div></a>
					<img class="img slider__Screenshot4" src="../img/Screenshot_4.png" alt="Screenshot_4">
					<img class="img slider__Screenshot2" src="../img/Screenshot_2.png" alt="Screenshot_2">
					<img class="img slider__Screenshot3" src="../img/Screenshot_3.png" alt="Screenshot_3">
					<img class="img slider__Screenshot5" src="../img/Screenshot_5.png" alt="Screenshot_5">
					<p class="text slider__Countdown">Countdown</p>
					<p class="text slider__Confusion">Confusion</p>
					<p class="text slider__Viimsi">Viimsi</p>
					<p class="text slider__SweetStorm">Sweet Storm</p>
					<div class="box slider__cut">
						<img class="img slider__effectsound" src="../img/effect_sound.png" alt="effect_sound">
					</div>
					<div class="box slider__player">
						<img class="img slider__fon" src="../img/fon.png" alt="fon">
						<img class="img slider__Screenshot1" src="../img/Screenshot_1.png" alt="Screenshot_1">
						<p class="title slider__hello">Hello</p>
						<img class="img slider__oval" src="../img/oval.svg" alt="oval">
						<a href="#" alt="play"><div class="linksvg slider__download"></div></a>
						<a href="#" alt="play"><div class="linksvg slider__svg1"></div></a>
						<a href="#" alt="play"><div class="linksvg slider__svg2"></div></a>
						<a href="#" alt="play"><div class="linksvg slider__svg3"></div></a>
						<p class="text slider__count">14</p>
						<p class="text slider__time">2:45</p>
						<a href="#" alt="play"><div class="linksvg slider__pause"></div></a>
						<a href="#" alt="play"><div class="linksvg slider__playgreen"></div></a>
						<a href="#" alt="play"><div class="linksvg slider__sound"></div></a>
						<div class="block slider__block"></div>
						<div class="block slider__blockgreen"></div>
					</div>
					<div class="box slider__boxline">
						<a href="#" alt="line1"><div class="linksvg slider__line1 slider__line1-active"></div></a>
						<a href="#" alt="line2"><div class="linksvg slider__line2"></div></a>
						<a href="#" alt="line3"><div class="linksvg slider__line3"></div></a>
						<a href="#" alt="line4"><div class="linksvg slider__line4"></div></a>
					</div>
				</div>
			</div>
			<div class="wrap blog">
				<div class="wrap-wrapper">
					<img class="img blog__image" src="../img/image.svg" alt="image">
					<p class="title blog__title">My blog</p>
					<a href="#">
						<div class="box blog__blog1">
							<div class="block blog__blockimg1"></div>
							<img class="img blog__foto1" src="../img/foto.svg" alt="foto1">
							<p class="description blog__description1">04 Jun 2020</p>
							<p class="subtitle blog__subtitle1">Where To Look For<br>Cheap Brochure Printing</p>
							<p class="text blog__text1">There is a moment in the life of any<br>aspiring astronomer that it is</p>
							<p class="text blog__count1">7.4K</p>
							<img class="img blog__views1" src="../img/views.svg" alt="views1">
						</div>
					</a>
					<a href="#">
						<div class="box blog__blog2">
							<div class="block blog__blockimg2"></div>
							<img class="img blog__foto2" src="../img/foto.svg" alt="foto2">
							<p class="description blog__description2">04 Jun 2020</p>
							<p class="subtitle blog__subtitle2">Where To Look For<br>Cheap Brochure Printing</p>
							<p class="text blog__text2">There is a moment in the life of any<br>aspiring astronomer that it is</p>
							<p class="text blog__count2">7.4K</p>
							<img class="img blog__views2" src="../img/views.svg" alt="views2">
							<p class="title blog__new">new</p>
						</div>
					</a>
					<a href="#">
						<div class="box blog__blog3">
							<div class="block blog__blockimg1"></div>
							<img class="img blog__foto1" src="../img/foto.svg" alt="foto1">
							<p class="description blog__description1">04 Jun 2020</p>
							<p class="subtitle blog__subtitle1">Where To Look For<br>Cheap Brochure Printing</p>
							<p class="text blog__text1">There is a moment in the life of any<br>aspiring astronomer that it is</p>
							<p class="text blog__count1">7.4K</p>
							<img class="img blog__views1" src="../img/views.svg" alt="views1">
						</div>
					</a>
					<a href="#">
						<div class="box blog__blog4">
							<div class="block blog__blockimg2"></div>
							<img class="img blog__foto2" src="../img/foto.svg" alt="foto2">
							<p class="description blog__description2">04 Jun 2020</p>
							<p class="subtitle blog__subtitle2">Where To Look For<br>Cheap Brochure Printing</p>
							<p class="text blog__text2">There is a moment in the life of any<br>aspiring astronomer that it is</p>
							<p class="text blog__count2">7.4K</p>
							<img class="img blog__views2" src="../img/views.svg" alt="views2">
						</div>
					</a>
					<div class="box blog__boxline">
						<a href="#" alt="line1"><div class="linksvg blog__line1 blog__line1-active"></div></a>
						<a href="#" alt="line2"><div class="linksvg blog__line2"></div></a>
						<a href="#" alt="line3"><div class="linksvg blog__line3"></div></a>
						<a href="#" alt="line4"><div class="linksvg blog__line4"></div></a>
					</div>
					<a class="btn blog__btn" href="#">MORE</a>
				</div>
			</div>
			<div class="wrap form">
				<div class="wrap-wrapper">
					<div class="box form__boxform">
						<input class="input form__name" type="text" placeholder="Enter your name">
						<input class="input form__email" type="text" placeholder="Enter your e-mail address">
						<input class="input form__mesage" type="text" placeholder="Your mesage here ...">
						<p class="title form__title">Also make to order</p>
						<p class="text form__text">When you enter into any new area of science<br>you almost always find yourself.</p>
						<p class="description form__description1">Your Name</p>
						<p class="description form__description2">E-mail</p>
						<p class="description form__description3">Mesage</p>
						<div class="box form__boxbtn">
							<a class="btn form__btn" href="#">SEND</a>
						</div>
					</div>
					<div class="block form__block4"></div>
					<img class="img form__captcha" src="../img/captcha.png" alt="captcha">
				</div>
			</div>
			<div class="wrap footer">
				<div class="wrap-wrapper">
					<img class="img footer__bggreen" src="../img/bg-green.png" alt="bg-green">
					<p class="title footer__title">Stick<br>Heinz</p>
					<p class="text footer__text">2020. Copyright</p>
					<p class="title footer__live">live</p>
					<div class="block footer__block"></div>
					<a href="#" alt="play"><div class="linksvg footer__footerarrow"></div></a>
					<img class="img footer__circle" src="../img/circle.svg" alt="circle">
				</div>
			</div>
		</div>
		<script src="js/main.js"></script>
		<script src="js/vendor.js"></script>
	</body>
</html>
