<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>RELEASES</title>
		<meta name="theme-color" content="#fff">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
		<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
		<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
		<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
		<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
		<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
		<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
		<link rel="stylesheet" href="styles/main.css">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
		</style>
	</head>
	<body>
		<div class="box1 page4">
			<section class="box1 page4-section1">
				<nav class="box2 page4-section1-block1">
					<a href="index.html"><div class="txt1 page4-section1-block1__text1">HOME</div></a>
					<a href="page2.html"><div class="txt1 page4-section1-block1__text2">BLOG</div></a>
					<a href="page4.html"><div class="txt1 page4-section1-block1__text3 txt1-active">RELEASES</div></a>
					<a href="page5.html"><div class="txt1 page4-section1-block1__text4">ABOUT</div></a>
					<a href="page6.html"><div class="txt1 page4-section1-block1__text5">CONTACT</div></a>
				</nav>
				<div class="txt2 page4-section1__text6">Stick<br>Heinz</div>
				<div class="img1 page4-section1__image1"></div>
				<div class="box3 page2-section1-block2">
					<div class="txt3 page4-section1-block2__text7">EN</div>
					<div class="img1 page4-section1-block2__image3"></div>
					<div class="img2 page4-section1-block2__image4"></div>
				</div>
				<div class="img1 page4-section1__image5"></div>
			</section>
			<section class="box1 page4-section2">
				<div class="txt5 page4-section2__text1">My releases</div>
				<div class="box2 page4-section2-block1">
					<div class="txt6 page4-section2-block1__text1">Home page</div>
					<div class="txt6 page4-section2-block1__text2">Blog</div>
					<div class="txt6 page4-section2-block1__text3 txt6-active">Contact</div>
					<div class="img2 page4-section2-block1__image1"></div>
					<div class="img2 page4-section2-block1__image2"></div>
				</div>
				<div class="img2 page2-section2__image3"></div>
			</section>
			<section class="box1 page4-section3">
				
			</section>
			<section class="box1 page4-section4">
				<div class="img1 page4-section4__image1"></div>
				<div class="box2 page4-section4-block1">
					<div class="txt2 page4-section4-block1__text1">Stick<br>Heinz</div>
					<div class="txt2 page4-section4-block1__text2">live</div>
					<div class="img2 page4-section4-block1__image2"></div>
				</div>
			</section>
			<section class="box1 page4-section5">
				<div class="txt4 page4-section5__text1">2020. Copyright</div>
			</section>
		</div>
		<script src="js/main.js"></script>
		<script src="js/vendor.js"></script>
	</body>
</html>
