<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>BLOG 2</title>
		<meta name="theme-color" content="#fff">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
		<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
		<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
		<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
		<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
		<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
		<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
		<link rel="stylesheet" href="styles/main.css">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
		</style>
	</head>
	<body>
		<div class="box1 page3">
			<section class="box1 page3-section1">
				<nav class="box2 page3-section1-block1">
					<a href="index.html"><div class="txt1 page2-section1-block1__text1">HOME</div></a>
					<a href="page2.html"><div class="txt1 page2-section1-block1__text2 txt1-active">BLOG</div></a>
					<a href="page4.html"><div class="txt1 page2-section1-block1__text3">RELEASES</div></a>
					<a href="page5.html"><div class="txt1 page2-section1-block1__text4">ABOUT</div></a>
					<a href="page6.html"><div class="txt1 page2-section1-block1__text5">CONTACT</div></a>
				</nav>
				<div class="txt2 page3-section1__text6">Stick<br>Heinz</div>
				<div class="img1 page3-section1__image1"></div>
				<div class="box3 page3-section1-block2">
					<div class="txt3 page3-section1-block2__text7">EN</div>
					<div class="img1 page3-section1-block2__image3"></div>
					<div class="img2 page3-section1-block2__image4"></div>
				</div>
				<div class="img1 page3-section1__image5"></div>
			</section>
			<section class="box1 page3-section2">
				<div class="txt5 page3-section2__text1">My blog</div>
				<div class="box2 page3-section2-block1">
					<div class="txt6 page3-section2-block1__text1">Home page</div>
					<div class="txt6 page3-section2-block1__text2">Blog</div>
					<div class="txt6 page3-section2-block1__text3 txt6-active">Contact</div>
					<div class="img2 page3-section2-block1__image1"></div>
					<div class="img2 page3-section2-block1__image2"></div>
				</div>
				<div class="img2 page2-section2__image3"></div>
			</section>
			<section class="box1 page3-section3">
				<div class="page3-section3__image1"></div>
				<div class="page3-section3__text1">NEW</div>
				<div class="page3-section3-block1">
					<div class="page3-section3-block1__image1"></div>
					<div class="page3-section3-block1__text1">Stick Heinz Stick Heinz</div>
				</div>
				<div class="page3-section3-block2">
					<div class="page3-section3-block2__image1"></div>
					<div class="page3-section3-block2__text1">Stick Heinz Stick Heinz</div>
				</div>
				<div class="page3-section3-block3">
					<div class="page3-section3-block3__text1">7.4K</div>
					<div class="page3-section3-block3__text2">2 K</div>
					<div class="page3-section3-block3__text3">0</div>
					<div class="page3-section3-block3__image1"></div>
					<div class="page3-section3-block3__image2"></div>
					<div class="page3-section3-block3__image3"></div>
					<div class="page3-section3-block3__image4"></div>
				</div>
				<div class="page3-section3__image2"></div>
				<div class="page3-section3-block4"></div>
				<div class="page3-section3__text2">04 Jun 2020</div>
				<div class="page3-section3__text3">Where To Look For Cheap Brochure Printing</div>
				<div class="page3-section3__text4">Where To Look For Cheap Brochure Printing</div>
				<div class="page3-section3__text5">Where To Look For Cheap Brochure Printing</div>
				<div class="page3-section3__text6">Leave a comment</div>
				<div class="page3-section3__text7">A dependent clause, also known as a “subordinate clause,” adds extra information to a sentence. It cannot, however, work as a sentence by itself.
					Example: Raghav dances only when Bhavya sings.
					Here, ‘Raghav dances’ is the independent clause and ‘only when Bhavya sings’ is the dependent clause.
					This is because the subordinate clause makes no sense on its own.</div>
				<div class="page3-section3__text8">It is “subordinate” because it “depends” on the main clause to make sense.
					This can further be clarified, by writing the two ‘sentences’ separately:
					 Raghav dances. (correct and complete)
					Only when Bhavya <span>https//stickheinz.com/releases.html</span> (incorrect and incomplete)
					In conclusion, always remember that independent clauses work independently whereas dependent clauses always need a main</div>
					<div class="page3-section3__text9">A dependent clause, also known as a “subordinate clause,” adds extra information to a sentence. It cannot, however, work as a sentence by itself.
						Example: Raghav dances only when Bhavya sings.
						Here, ‘Raghav dances’ is the independent clause and ‘only when Bhavya sings’ is the dependent clause.
						This is because the subordinate clause makes no sense on its own. It is “subordinate” because it “depends”.</div>
					<div class="page3-section3__text10">The main clause to make sense.
						<span class="page3-section3__text10-white">This can further be clarified</span>, by writing the two ‘sentences’ separately:
						 Raghav dances. (correct and complete)
						Only when Bhavya sings (incorrect and incomplete)
						In conclusion, always remember that independent clauses work independently whereas dependent clauses always need a main </div>
						<div class="page3-section3__text11">A dependent clause, also known as a “subordinate clause,” adds extra information to a sentence. It cannot, however, work as a sentence by itself.
							Example: Raghav dances only when Bhavya sings.
							Here, ‘Raghav dances’ is the independent clause and ‘only when Bhavya sings’ is the dependent clause.
							This is because the subordinate clause makes no sense on its own. </div>
						<div class="page3-section3__text12">The main clause to make sense.
							<span class="page3-section3__text10-white">This can further be clarified</span>, by writing the two ‘sentences’ separately:
							 Raghav dances <span class="page3-section3__text12-link">https//stickheinz.com/releases.html</span> (correct and complete)
							 Only when Bhavya sings (incorrect and incomplete)
							In conclusion, always remember that independent clauses work independently whereas dependent clauses always need a main The main clause to make sense.
							This can further be clarified, by writing the two ‘sentences’ separately:
							 Raghav dances  (correct and complete)</div>
						<div class="page3-section3__text13">Only when Bhavya sings (incorrect and incomplete)
							In conclusion, always remember that independent clauses work independently whereas dependent clauses always need a main The main clause to make sense.
							This can further be clarified, by writing the two ‘sentences’ separately:
							 Raghav dances (correct and  complete.</div>
						<div class="page3-section3__text14">A dependent clause, also known as a “subordinate clause,” adds extra information to a sentence. It cannot, however, work as a sentence by itself.
							Example: Raghav dances only when Bhavya sings.
							Here, ‘Raghav dances’ is the independent clause and ‘only when Bhavya sings’ is the dependent clause.
							This is because the subordinate clause makes no sense on its own. </div>
			</section>
			<section class="box1 page3-section4">
				<div class="img1 page3-section4__image1"></div>
				<div class="box2 page3-section4-block1">
					<div class="txt2 page3-section4-block1__text1">Stick<br>Heinz</div>
					<div class="txt2 page3-section4-block1__text2">live</div>
					<div class="img2 page3-section4-block1__image2"></div>
				</div>
			</section>
			<section class="box1 page3-section5">
				<div class="txt4 page3-section5__text1">2020. Copyright</div>
			</section>
		</div>
		<script src="js/main.js"></script>
		<script src="js/vendor.js"></script>
	</body>
</html>
